@charset "utf-8";

/* --------------------------------------------------------------------------------
html { font-size:62.5%; = 10px }
body { font-size:1.6rem; = 16px }
font-family: Arial, Roboto, 'Droid Sans', '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3',
'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
font-family: 'Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3',
'Hiragino Mincho ProN', 'メイリオ', Meiryo, serif;
-------------------------------------------------------------------------------- */

/* Firefox, Opera, Safari */
@font-face {
font-family: フォント名;
src: url(font/BOYCOTT_.ttf) format("truetype");
}
html {
  font-size:10px;
  background:#FFF;
}
body {
  height:100%;
  /*
  font-family: 'Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3',
  'Hiragino Mincho ProN', 'メイリオ', Meiryo, serif;
  */
  letter-spacing:0;
}
h1{
  font-family: 'Boycott';
  font-size: 12px;
}
li{
  list-style-type: none;
}
a:hover { text-decoration:none; }
